/// Root Styles file
/// Here we define all the root variables we need for our project.
/// For examples see Material Design color system: https://m2.material.io/design/color/the-color-system.html

:root {
    --color-primary: #0f162d;
    --color-primary2: rgb(202, 89, 255, 0.1);
    --color-primary3: rgb(108, 124, 255, 0.1);
    --color-primary4: rgb(42, 255, 255, 0.1);
    --color-primary5: rgb(255, 246, 41, 0.1);
    --color-secondary: #fff;
    --color-secondary2: #272d42;
    --color-secondary3: #000;
    --color-on-surface: #000;
}
